@font-face {
  font-family: 'Pretendard Variable';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pexel Grotesk';
  src: url('/fonts/PexelGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DeltaGlassKR';
  src: url('/fonts/DeltaGlassKR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
