.history-page {
  position: relative;

  width: 100vw;
  max-width: none;

  margin-left: calc(50% - 50vw);

  overflow-x: hidden;
}

.history-page > section {
  position: relative;

  width: 100%;
  max-width: none;

  margin-left: 0;
  margin-right: 0;
}