.hero-section {
  background-color: var(--color-text-inverse);
  height: calc(1883px * var(--home-scale));
  position: relative;
  flex-shrink: 0;
  width: calc(1920px * var(--home-scale));
}

.hero-section__layer-2 {
  word-break: break-word;
  position: absolute;
  font-family: var(--font-family-display-en);
  font-weight: var(--font-weight-regular);
  line-height: 0;
  left: calc(50% - calc(569px * var(--home-scale)));
  font-style: normal;
  color: var(--color-text-primary);
  font-size: 0px;
  top: calc(311px * var(--home-scale));
  letter-spacing: calc(-16.8px * var(--home-scale));
  white-space: nowrap;
}

.hero-section__layer-3 {
  line-height: 1;
  font-size: calc(560px * var(--home-scale));
}

.hero-section__layer-4 {
  line-height: 1;
  font-size: calc(500px * var(--home-scale));
  letter-spacing: calc(-15px * var(--home-scale));
}

.hero-section__hero-visual-02-5 {
  position: absolute;
  height: calc(350px * var(--home-scale));
  left: calc(1351px * var(--home-scale));
  top: calc(162px * var(--home-scale));
  width: calc(294px * var(--home-scale));
}

.hero-section__halftone-generator-7-6-6 {
  position: absolute;
  height: calc(421px * var(--home-scale));
  left: 50%;
  top: calc(50% + calc(0.5px * var(--home-scale)));
  width: calc(408px * var(--home-scale));
  translate: -50% -50%;
}

.hero-section__layer-7 {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.hero-section__layer-8 {
  position: absolute;
  height: 191.01%;
  left: -22.35%;
  max-width: none;
  top: -51.18%;
  width: 144.69%;
}

.hero-section__layer-9 {
  word-break: break-word;
  position: absolute;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-light);
  line-height: 0;
  left: calc(50% + calc(2px * var(--home-scale)));
  font-style: normal;
  font-size: calc(var(--font-size-300) * var(--home-scale));
  color: var(--color-text-primary);
  text-align: center;
  top: calc(836px * var(--home-scale));
  white-space: nowrap;
  translate: -50% 0px;
}

.hero-section__layer-10 {
  line-height: var(--line-height-body);
  margin-bottom: 0;
}

.hero-section__layer-11 {
  line-height: var(--line-height-body);
}

.hero-section__hero-visual-04-12 {
  position: absolute;
  height: calc(294px * var(--home-scale));
  left: calc(304px * var(--home-scale));
  top: calc(709px * var(--home-scale));
  width: calc(309px * var(--home-scale));
}

.hero-section__hero-visual-06-13 {
  position: absolute;
  height: calc(238px * var(--home-scale));
  left: calc(846px * var(--home-scale));
  top: calc(1126px * var(--home-scale));
  width: calc(239px * var(--home-scale));
}

.hero-section__layer-14 {
  position: absolute;
  display: flex;
  height: calc(140.459px * var(--home-scale));
  align-items: center;
  justify-content: center;
  left: calc(50% + calc(0.33px * var(--home-scale)));
  top: calc(50% + calc(4.63px * var(--home-scale)));
  width: calc(122.446px * var(--home-scale));
  translate: -50% -50%;
}

.hero-section__layer-15 {
  flex: none;
  rotate: -0.12deg;
}

.hero-section__halftone-generator-8-2-16 {
  height: calc(140.207px * var(--home-scale));
  position: relative;
  width: calc(122.156px * var(--home-scale));
}

.hero-section__layer-17 {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.hero-section__layer-18 {
  position: absolute;
  height: 290.63%;
  left: -113.61%;
  max-width: none;
  top: -98.7%;
  width: 326.99%;
}

.hero-section__layer-19 {
  word-break: break-word;
  position: absolute;
  font-family: var(--font-family-display-kr);
  font-weight: var(--font-weight-regular);
  line-height: 0;
  left: calc(50% + calc(0.5px * var(--home-scale)));
  font-style: normal;
  color: var(--color-action-primary);
  font-size: calc(82px * var(--home-scale));
  text-align: center;
  top: calc(1454px * var(--home-scale));
  white-space: nowrap;
  translate: -50% 0px;
}

.hero-section__layer-20 {
  line-height: var(--line-height-tight);
  margin-bottom: 0;
}

.hero-section__layer-21 {
  line-height: var(--line-height-tight);
}

.hero-section__hero-visual-03-22 {
  position: absolute;
  height: calc(259px * var(--home-scale));
  left: calc(826px * var(--home-scale));
  top: calc(228px * var(--home-scale));
  width: calc(268px * var(--home-scale));
}

.hero-section__halftone-generator-6-1-23 {
  position: absolute;
  height: calc(225px * var(--home-scale));
  left: calc(8px * var(--home-scale));
  border-radius: calc(112.5px * var(--home-scale));
  top: calc(17px * var(--home-scale));
  width: calc(250px * var(--home-scale));
}

.hero-section__layer-24 {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  border-radius: calc(112.5px * var(--home-scale));
}

.hero-section__layer-25 {
  position: absolute;
  height: 311.67%;
  left: -90.53%;
  max-width: none;
  top: -105.84%;
  width: 281.05%;
}

.hero-section__hero-visual-01-26 {
  position: absolute;
  height: calc(347px * var(--home-scale));
  left: calc(193px * var(--home-scale));
  top: calc(136px * var(--home-scale));
  width: calc(304px * var(--home-scale));
}

.hero-section__layer-27 {
  position: absolute;
  display: flex;
  height: calc(591.794px * var(--home-scale));
  align-items: center;
  justify-content: center;
  left: calc(1.41px * var(--home-scale));
  top: calc(-89.4px * var(--home-scale));
  width: calc(503.173px * var(--home-scale));
}

.hero-section__layer-28 {
  flex: none;
  rotate: 20.48deg;
}

.hero-section__halftone-generator-8-3-29 {
  height: calc(501px * var(--home-scale));
  position: relative;
  width: calc(350px * var(--home-scale));
}

.hero-section__layer-30 {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.hero-section__layer-31 {
  position: absolute;
  height: 146.71%;
  left: -39.71%;
  max-width: none;
  top: -22.95%;
  width: 179.43%;
}

.hero-section__hero-visual-05-32 {
  position: absolute;
  height: calc(346px * var(--home-scale));
  left: calc(1252px * var(--home-scale));
  top: calc(687px * var(--home-scale));
  width: calc(423px * var(--home-scale));
}

.hero-section__halftone-generator-15-2-33 {
  position: absolute;
  height: calc(503px * var(--home-scale));
  left: calc(-23px * var(--home-scale));
  top: calc(24px * var(--home-scale));
  width: calc(398px * var(--home-scale));
}

.hero-section__layer-34 {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.hero-section__layer-35 {
  position: absolute;
  height: 123.25%;
  left: -27.86%;
  max-width: none;
  top: -11.62%;
  width: 155.72%;
}

.hero-section__layer-36 {
  position: absolute;
  height: calc(60px * var(--home-scale));
  left: calc(628px * var(--home-scale));
  top: calc(8px * var(--home-scale));
  width: calc(664px * var(--home-scale));
}

.hero-section__layer-37 {
  position: absolute;
  display: flex;
  height: calc(707.908px * var(--home-scale));
  align-items: center;
  justify-content: center;
  left: calc(57px * var(--home-scale));
  top: calc(586.28px * var(--home-scale));
  width: calc(716.553px * var(--home-scale));
}

.hero-section__layer-38 {
  flex: none;
  rotate: -8.48deg;
}

.hero-section__halftone-generator-19-1-39 {
  height: calc(621.498px * var(--home-scale));
  position: relative;
  width: calc(631.771px * var(--home-scale));
}

.hero-section__layer-40 {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.hero-section__layer-41 {
  position: absolute;
  height: 141.05%;
  left: -27.51%;
  max-width: none;
  top: -20.52%;
  width: 155.01%;
}

.hero-section__layer-42 {
  position: absolute;
  display: flex;
  height: calc(7.972px * var(--home-scale));
  align-items: center;
  justify-content: center;
  left: calc(36px * var(--home-scale));
  top: calc(303px * var(--home-scale));
  width: calc(6.773px * var(--home-scale));
}

.hero-section__layer-43 {
  flex: none;
  rotate: -10.93deg;
}

.hero-section__layer-44 {
  height: calc(7.05px * var(--home-scale));
  position: relative;
  width: calc(5.537px * var(--home-scale));
}

.hero-section__layer-45 {
  position: absolute;
  display: block;
  inset: 0;
  max-width: none;
  width: 100%;
  height: 100%;
}

